Debug/
Release/
Release/
*.ncb
*.plg
*.aps
*.opt
*.project
install.bat
test.bat
getinstall.bat
*.vcxproj.user
ipch/
*.suo
*.tlog
*.sdf
*.opensdf
sh.exe.stackdump
*.tlh
*.tli

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


